<hr />
<div class="row">
  <div class="col-4">
    <div class="card homeCard" >
      <div class="card-header">
        Component Interaction 1
      </div>
      <div class="card-body">
        <h5 class="card-title">Passing data between components</h5>
        <p class="card-text">Exchanging data / emitting events between two components
          that have a  direct relation or no relation at all.</p>
        <a routerLink="/component-interaction" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card homeCard">
      <div class="card-header">
        Content Projection
      </div>
      <div class="card-body">
        <h5 class="card-title">Passing HTML or Other components to child</h5>
        <p class="card-text"> ng-content  </p>
        <a routerLink="/content-projection" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card homeCard">
      <div class="card-header">
        Template Attributes & Directives
      </div>
      <div class="card-body">
        <h5 class="card-title">Loops & Conditionals</h5>
        <p class="card-text"> Iterating list of elements & showing an element based on a condition </p>
        <a routerLink="/loops" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>



  <div class="col-4">
    <div class="card homeCard">
      <div class="card-header">
        Forms 1
      </div>
      <div class="card-body">
        <h5 class="card-title">Template based forms</h5>
        <p class="card-text"> Forms driven by template/html</p>
        <a routerLink="/tb-forms" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card homeCard">
      <div class="card-header">
        Forms 2
      </div>
      <div class="card-body">
        <h5 class="card-title">Reactive forms</h5>
        <p class="card-text"> Forms driven by code</p>
        <a routerLink="/dy-forms" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

</div>


