<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletExamples</display-name>
	
	<welcome-file-list>
		<welcome-file>
			index.html
		</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/error1.html</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error/error2.html</location>
	</error-page>
	<error-page>
		<exception-type>net.javaci.servlet._06_exception.MyCustomException</exception-type>
		<location>/error/error3.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/error404.html</location>
	</error-page>
	
	
	<servlet>
		<servlet-name>ServletImpl</servlet-name>
		<servlet-class>net.javaci.servlet._13_ServletVariation.ServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletImpl</servlet-name>
		<url-pattern>/ServletImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyGenericServlet</servlet-name>
		<servlet-class>net.javaci.servlet._13_ServletVariation.MyGenericServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyGenericServlet</servlet-name>
		<url-pattern>/MyGenericServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfigExampleParamFromWebXml</servlet-name>
		<servlet-class>net.javaci.servlet._11_configContext.ServletConfigExampleParamFromWebXml</servlet-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>value1</param-value>
		</init-param>
		<init-param>
			<param-name>param2</param-name>
			<param-value>value2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfigExampleParamFromWebXml</servlet-name>
		<url-pattern>/ServletConfigExampleParamFromWebXml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadOnStartap2Servlet</servlet-name>
		<servlet-class>net.javaci.servlet._10_urlPatternsAndLoadOnStartup.LoadOnStartap2Servlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadOnStartap2Servlet</servlet-name>
		<url-pattern>/LoadOnStartap2Servlet</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contexParam1</param-name>
		<param-value>contextValue1</param-value>
	</context-param>
	
	
	<filter>
		<filter-name>FilterDefineInWebXml</filter-name>
		<filter-class>net.javaci.servlet._09_filter.FilterDefineInWebXml</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>Initialization Paramter</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>FilterDefineInWebXml</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter-mapping>
		<filter-name>FirstFilter</filter-name>
		<url-pattern />
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecondFilters</filter-name>
		<url-pattern />
	</filter-mapping>
	
</web-app>