
<div class="auth-home">
    <div class="card auth-card">
      <div class="card-header"> Login</div>
      <div class="card-body">
        <h5 class="card-title">Please login to your  account!</h5>
        <form class="row g-3">
          <div class="col-md-6">
            <label  class="form-label">Citizen Number</label>
            <input type="text" class="form-control" >
          </div>
          <div class="col-md-6">
            <label  class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="xxxxxx">
          </div>
         
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Login</button>
            <a routerLink="/auth/register"  class="m-2 link-secondary">Do not have an account yet? Register here</a>

          </div>
        </form>
      </div>
    </div>
  </div>
  