
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a  routerLink ="/home" class="nav-link" routerLinkActive="active" >Home</a></li>
      <li class="nav-item"><a  routerLink="/accounts" class="nav-link" routerLinkActive="active">Routing</a></li>
      <li class="nav-item"><a  routerLink="/service"  class="nav-link" routerLinkActive="active">Services</a></li>
      <li class="nav-item"><a  routerLink="/pipes"  class="nav-link" routerLinkActive="active">Pipes</a></li>

    </ul>
  </header>

  <div class="row content">

    <router-outlet></router-outlet>
  </div>
</div>
