<div class="auth-home">
    <div class="card auth-card">
      <div class="card-header"> Register</div>
      <div class="card-body">
        <h5 class="card-title">Please create an account!</h5>
        <form class="row g-3">
          <div class="col-md-6">
            <label  class="form-label">Citizen Number</label>
            <input type="text" class="form-control" >
          </div>
          <div class="col-md-6">
            <label  class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="xxxxxx">
          </div>
          <div class="col-md-6">
            <label  class="form-label">First Name</label>
            <input type="text" class="form-control" >
          </div>
          <div class="col-md-6">
            <label  class="form-label">Last Name</label>
            <input type="text" class="form-control" >
          </div>
          <div class="col-md-6">
            <label  class="form-label">Birth Date</label>
            <input type="text" class="form-control" >
          </div>
          <div class="col-md-6">
              <label  class="form-label">Phone Number</label>
              <input type="text" class="form-control" >
          </div>
          <div class="col-md-12">
            <label  class="form-label">Email</label>
            <input type="text" class="form-control" >
          </div>
         
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
            <a routerLink="/auth/login"  class="m-2 link-secondary">Already have an account? Sign in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  