

<div class="card">
  <div class="card-header">
    My Accounts (3)
  </div>
  <div class="card-body">
   
    <div class="row">
        <div class="col-4">
            <app-card [cardTitle]="'Investment account'" [cardSubtitle]="'#10000000001-00001'" >
                <strong>Balance : </strong> <button type="button" class="btn btn-light">{{'100'|currency}}</button>
                <hr />
                <a href="#" class="card-link">Details</a>
                <a href="#" class="card-link">Another link</a>
            </app-card>

            
        </div>

        <div class="col-4">
            <app-card [cardTitle]="'Investment account'" [cardSubtitle]="'#10000000001-00001'" >
                <strong>Balance : </strong> <button type="button" class="btn btn-light">{{'100'|currency}}</button>
                <hr />
                <a href="#" class="card-link">Details</a>
                <a href="#" class="card-link">Another link</a>
            </app-card>

            
        </div>

        <div class="col-4">
            <app-card [cardTitle]="'Investment account'" [cardSubtitle]="'#10000000001-00001'" >
                <strong>Balance : </strong> <button type="button" class="btn btn-light">{{'100'|currency}}</button>
                <hr />
                <a href="#" class="card-link">Details</a>
                <a href="#" class="card-link">Another link</a>
            </app-card>

            
        </div>
    </div>
  </div>
</div>