<hr/>

<app-projected-child [cardTitle]="'Loops and conditions'" [title]="'ng for and nqswicth ngif'">
  <div slot="text">

    <table class="table table-sm table-bordered">
      <thead>
      <tr>
        <th>Index</th>
        <th>name</th>
        <th>money</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let name of names ; let idx = index ; let tek = odd; let cift = even ;"
          [ngClass]="{'alert alert-primary' : tek, 'alert alert-success' :cift  }"
      >
        <td>{{idx + 1}}</td>
        <td>{{name.name}}

        </td>

        <td>
          <button *ngIf="name.money < 100" class="btn btn-sm btn-danger">
            {{name.money}}
          </button>
          <button *ngIf="name.money > 100 " class="btn btn-sm btn-success">
            {{name.money}}
          </button>


          <div [ngSwitch]="name.role" class="m-2">
            <div *ngSwitchCase="'admin'">
              <button class="btn btn-sm btn-danger">Delete</button>
              <button class="btn btn-sm btn-info">Edit</button>
            </div>

            <button *ngSwitchCase="'manager'" class="btn btn-sm btn-info">Edit</button>
            <button *ngSwitchCase="'user'" class="btn btn-sm btn-success">Details</button>
            <button *ngSwitchDefault class="btn btn-sm">No role</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</app-projected-child>


