
<div class="card">
    <div class="card-header">
      Recent Transactions
    </div>
    <div class="card-body">
     <table class="table table-sm able-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Receiver Account</th>
                <th>Receiver Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
           <tr>
               <td>123</td>
               <td>7797</td>
               <td>Ahmet Adiguzel</td>
               <td>Kira Odemesi</td>
               <td>600</td>
               <td>Transfer</td>
           </tr>
        </tbody>
     </table>
    </div>
  </div>

 
  